---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/open_channels/Testing_api_123/ban?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"banned_list":[{"description":"","start_at":1476165564716,"user":{"nickname":"nirrrr","user_id":"nirrrr","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_31_512px.png"},"end_at":1791525564716}],"next":""}'
  recorded_at: Tue, 11 Oct 2016 05:59:26 GMT
recorded_with: VCR 3.0.3
