---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/open_channels/Testing_api_123?participants=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Best Name Ever","participant_count":0,"channel_url":"Testing_api_123","created_at":1476136808,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_01.jpg","freeze":false,"participants":[],"max_length_message":-1,"data":"","operators":[]}'
  recorded_at: Tue, 11 Oct 2016 04:41:41 GMT
recorded_with: VCR 3.0.3
