---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/group_channels
    body:
      encoding: UTF-8
      string: '{"name":"Testing_group","user_ids":["nirrrr"]}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"unread_message_count":0,"is_distinct":false,"last_message":null,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_08.jpg","members":[{"nickname":"nirrrr","last_seen_at":0,"user_id":"nirrrr","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_31_512px.png","is_online":false}],"data":"","name":"Testing_group","member_count":1,"created_at":1476261360,"max_length_message":-1,"channel_url":"sendbird_group_channel_19031773_daff0f4d3fc3974311123ca8134b126c242ac8cc","channel":{"name":"Testing_group","member_count":1,"channel_url":"sendbird_group_channel_19031773_daff0f4d3fc3974311123ca8134b126c242ac8cc","created_at":1476261360,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_08.jpg","max_length_message":-1,"data":""}}'
  recorded_at: Wed, 12 Oct 2016 08:36:01 GMT
recorded_with: VCR 3.0.3
