---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/group_channels/sendbird_group_channel_19031773_daff0f4d3fc3974311123ca8134b126c242ac8cc/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"members":[{"nickname":"nirrrr","last_seen_at":0,"user_id":"nirrrr","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_31_512px.png","is_online":false}],"next":""}'
  recorded_at: Wed, 12 Oct 2016 08:54:14 GMT
recorded_with: VCR 3.0.3
