---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/applications
    body:
      encoding: UTF-8
      string: '{"name":"testing_app_creation"}'
    headers:
      Authorization:
      - Basic Z3VzdGF2b2Nhc29AZ21haWwuY29tOm4vYWtndTdHdXBMVVhyQ29h
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"icon_url":"","api_token":"","app_id":"","name":"testing_app_creation"}'
  recorded_at: Thu, 10 Nov 2016 06:34:42 GMT
recorded_with: VCR 3.0.3
