---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/applications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Z3VzdGF2b2Nhc29AZ21haWwuY29tOm4vYWtndTdHdXBMVVhyQ29h
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"applications":[{"icon_url":"","api_token":"","app_id":"","name":"testing_app_creation"},{"icon_url":"","api_token":"","app_id":"","name":"testing_app_creation"},{"icon_url":"","api_token":"","app_id":"","name":"Test_api"}],"next":""}'
  recorded_at: Thu, 10 Nov 2016 06:46:38 GMT
recorded_with: VCR 3.0.3
