---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/open_channels
    body:
      encoding: UTF-8
      string: '{"channel_url":"Testing_api_123"}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Open Channel","participant_count":0,"channel_url":"Testing_api_123","created_at":1476136808,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_01.jpg","freeze":false,"max_length_message":-1,"data":"","operators":[]}'
  recorded_at: Mon, 10 Oct 2016 22:00:08 GMT
recorded_with: VCR 3.0.3
