---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/open_channels/Testing_api_123/mute
    body:
      encoding: UTF-8
      string: '{"user_id":"nirrrr"}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Best Name Ever","participant_count":1,"channel_url":"Testing_api_123","created_at":1476136808,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_01.jpg","freeze":true,"max_length_message":-1,"data":"","operators":[{"nickname":"alopezmeetsam.io","user_id":"SendBirdDashboard19007122","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_39_512px.png"}]}'
  recorded_at: Tue, 11 Oct 2016 06:01:02 GMT
recorded_with: VCR 3.0.3
