---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/open_channels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"channels":[{"name":"Open Channel","participant_count":0,"channel_url":"sendbird_open_channel_8242_806626f3ce14fd9a4fc2a83254b284ba7cbe513c","created_at":1476131001,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_06.jpg","freeze":false,"max_length_message":-1,"data":"","operators":[]}],"next":""}'
  recorded_at: Mon, 10 Oct 2016 20:36:03 GMT
recorded_with: VCR 3.0.3
