---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/open_channels/Testing_api_123/mute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"muted_list":[{"nickname":"nirrrr","user_id":"nirrrr","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_31_512px.png"}],"next":""}'
  recorded_at: Tue, 11 Oct 2016 06:01:03 GMT
recorded_with: VCR 3.0.3
