---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/applications
    body:
      encoding: UTF-8
      string: '{"name":"testing_app_creation"}'
    headers:
      Authorization:
      - Basic YWxvcGV6QG1lZXRzYW0uaW86bWVldHNhbQ==
      Api-Token:
      - a153d68c1efb5e2897c6eac1361ed2ba61e1e441
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"message":"CREATE Application is failed.","code":500901,"error":true}'
  recorded_at: Mon, 17 Oct 2016 07:51:04 GMT
recorded_with: VCR 3.0.3
