---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/group_channels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"channels":[{"unread_message_count":0,"is_distinct":false,"last_message":{"created_at":1473785162654,"user":{"nickname":"sam","user_id":"sam","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_35_512px.png"},"file":{},"data":"","message":"uee6","channel_url":"sendbird_group_channel_19032077_4468452666c4ee64815911c86e0813851965b92e","type":"MESG","message_id":479621292},"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_08.jpg","data":"","name":"Group
        Channel","member_count":2,"created_at":1473151642,"max_length_message":-1,"channel_url":"sendbird_group_channel_19032077_4468452666c4ee64815911c86e0813851965b92e","channel":{"name":"Group
        Channel","member_count":2,"channel_url":"sendbird_group_channel_19032077_4468452666c4ee64815911c86e0813851965b92e","created_at":1473151642,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_08.jpg","max_length_message":-1,"data":""}},{"unread_message_count":0,"is_distinct":false,"last_message":{"type":"FILE","created_at":1473866691102,"user":{"nickname":"adrilv","user_id":"adrilv","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_04_512px.png"},"file":{"url":"https:\/\/sendbird-upload.s3-ap-northeast-1.amazonaws.com\/a3403fe7c7234a26801918a19070dae2.png","data":"","type":"image\/png","name":"new_hotel.png","size":29255},"channel_url":"sendbird_group_channel_19032077_f9a10cf8a8aae41ecc904b4a42bfce9680c30376","message_id":481210026},"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_02.jpg","data":"","name":"Group
        Channel","member_count":2,"created_at":1473159062,"max_length_message":-1,"channel_url":"sendbird_group_channel_19032077_f9a10cf8a8aae41ecc904b4a42bfce9680c30376","channel":{"name":"Group
        Channel","member_count":2,"channel_url":"sendbird_group_channel_19032077_f9a10cf8a8[...]
- request:
    method: get
    uri: https://api.sendbird.com/v3/group_channels?show_empty=true&user_id=nirrrr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"channels":[{"unread_message_count":0,"is_distinct":false,"last_message":null,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_08.jpg","data":"","name":"Testing_group","member_count":1,"created_at":1476261360,"max_length_message":-1,"channel_url":"sendbird_group_channel_19031773_daff0f4d3fc3974311123ca8134b126c242ac8cc","channel":{"name":"Testing_group","member_count":1,"channel_url":"sendbird_group_channel_19031773_daff0f4d3fc3974311123ca8134b126c242ac8cc","created_at":1476261360,"cover_url":"https:\/\/sendbird.com\/main\/img\/cover\/cover_08.jpg","max_length_message":-1,"data":""}}],"next":""}'
  recorded_at: Wed, 12 Oct 2016 08:42:05 GMT
recorded_with: VCR 3.0.3
