---
http_interactions:
- request:
    method: put
    uri: https://api.sendbird.com/v3/users/cvilanova@path.travel/activate
    body:
      encoding: UTF-8
      string: '{"activate":true}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"access_token":"","nickname":"testing_update","user_id":"cvilanova@path.travel","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_23_512px.png"}'
  recorded_at: Fri, 07 Oct 2016 05:45:49 GMT
recorded_with: VCR 3.0.3
