---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/users/cvilanova@path.travel/block
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"nickname":"adrilv","last_seen_at":1475663450192,"user_id":"c1ab00ee-caf3-4796-8f16-a5b4d75a40f1","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_23_512px.png","is_online":false}],"next":""}'
  recorded_at: Fri, 07 Oct 2016 06:02:12 GMT
recorded_with: VCR 3.0.3
