---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/users
    body:
      encoding: UTF-8
      string: '{"user_id":"testing","nickname":"Yolo","profile_url":""}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"user_id":"testing","access_token":"","is_online":false,"last_seen_at":0,"nickname":"Yolo","profile_url":""}'
  recorded_at: Thu, 06 Oct 2016 05:41:25 GMT
recorded_with: VCR 3.0.3
