---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/users
    body:
      encoding: UTF-8
      string: '{"user_id":"testing","small_name":"Yolo"}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"message":"nickname must be required.","code":400105,"error":true}'
  recorded_at: Mon, 10 Oct 2016 06:29:44 GMT
recorded_with: VCR 3.0.3
