---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/users?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"nickname":"Carolyn Reichel","last_seen_at":0,"user_id":"57f5f2f1e3bd412fa1000002","profile_url":"","is_online":false},{"nickname":"Yolo","last_seen_at":0,"user_id":"testing","profile_url":"","is_online":false},{"nickname":"Octavia
        Lakin","last_seen_at":0,"user_id":"57f511e5e3bd412891000002","profile_url":"","is_online":false}],"next":"YXIVQl1SRFErEUBYXl1cEGd1GUtVVQ=="}'
  recorded_at: Fri, 07 Oct 2016 05:24:39 GMT
recorded_with: VCR 3.0.3
