---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/users/cvilanova@path.travel/push/apns
    body:
      encoding: UTF-8
      string: '{"apns_device_token":"123abc456def"}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"token":"123abc456def","type":"APNS","user":{"nickname":"testing_update","user_id":"cvilanova@path.travel","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_23_512px.png"}}'
  recorded_at: Sun, 09 Oct 2016 18:50:10 GMT
recorded_with: VCR 3.0.3
