---
http_interactions:
- request:
    method: delete
    uri: https://api.sendbird.com/v3/users/cvilanova@path.travel/push/gcm/testing_gcm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"token":"testing_gcm","user":{"nickname":"testing_update","user_id":"cvilanova@path.travel","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_23_512px.png"}}'
  recorded_at: Mon, 10 Oct 2016 06:05:35 GMT
recorded_with: VCR 3.0.3
