---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/open_channels/Testing_api_123/messages/527575816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":1476265766426,"user":{"nickname":"nirrrr","user_id":"nirrrr","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_31_512px.png"},"file":{},"data":"Not
        real","message":"Tetsing messages","channel_url":"Testing_api_123","type":"MESG","message_id":527575816}'
  recorded_at: Wed, 12 Oct 2016 09:50:37 GMT
recorded_with: VCR 3.0.3
