---
http_interactions:
- request:
    method: put
    uri: https://api.sendbird.com/v3/group_channels/sendbird_group_channel_19031773_daff0f4d3fc3974311123ca8134b126c242ac8cc/metacounter
    body:
      encoding: UTF-8
      string: '{"metacounter":{"days":15},"mode":"increase","upsert":true}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"days":30}'
  recorded_at: Wed, 12 Oct 2016 10:57:53 GMT
recorded_with: VCR 3.0.3
