---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"nickname":"Carolyn Reichel","last_seen_at":0,"user_id":"57f5f2f1e3bd412fa1000002","profile_url":"","is_online":false},{"nickname":"Yolo","last_seen_at":0,"user_id":"testing","profile_url":"","is_online":false},{"nickname":"Octavia
        Lakin","last_seen_at":0,"user_id":"57f511e5e3bd412891000002","profile_url":"","is_online":false},{"nickname":"Mohamed
        Mueller","last_seen_at":0,"user_id":"57f5116ce3bd412828000002","profile_url":"","is_online":false},{"nickname":"adrilv","last_seen_at":1475663426695,"user_id":"e9609531-3d11-4ec9-b198-4762b49e9b41","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_37_512px.png","is_online":false},{"nickname":"adrilv","last_seen_at":1475663450192,"user_id":"c1ab00ee-caf3-4796-8f16-a5b4d75a40f1","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_23_512px.png","is_online":false},{"nickname":"Kristian
        Torphy","last_seen_at":0,"user_id":"57f4fa99e3bd411c25000002","profile_url":"","is_online":false},{"nickname":"Audreanne
        Rice","last_seen_at":0,"user_id":"57f4f672e3bd41191e000002","profile_url":"","is_online":false},{"nickname":"Doris
        Fahey","last_seen_at":0,"user_id":"57f4b9f0e3bd411759000002","profile_url":"","is_online":false},{"nickname":"Guest_IzMQFd","last_seen_at":1474867247616,"user_id":"cvilanova@path.travel","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_23_512px.png","is_online":false}],"next":"YnsYR1NQSlYrEUBYXl1cEWR6FUtWWg=="}'
  recorded_at: Fri, 07 Oct 2016 05:13:06 GMT
recorded_with: VCR 3.0.3
