---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/users/cvilanova@path.travel/push_preference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"do_not_disturb":false,"start_min":0,"start_hour":0,"end_hour":0,"timezone":"UTC","end_min":0}'
  recorded_at: Mon, 10 Oct 2016 06:12:23 GMT
recorded_with: VCR 3.0.3
