---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/users/cvilanova@path.travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"user_id":"cvilanova@path.travel","access_token":"","is_online":false,"last_seen_at":1474867247616,"nickname":"testing_update","profile_url":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_23_512px.png"}'
  recorded_at: Fri, 07 Oct 2016 05:33:39 GMT
recorded_with: VCR 3.0.3
