---
http_interactions:
- request:
    method: get
    uri: https://api.sendbird.com/v3/users/testing_user_interface_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - a153d68c1efb5e2897c6eac1361ed2ba61e1e441
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"message":"User not found.","code":400201,"error":true}'
  recorded_at: Mon, 17 Oct 2016 17:16:14 GMT
- request:
    method: post
    uri: https://api.sendbird.com/v3/users
    body:
      encoding: UTF-8
      string: '{"user_id":"testing_user_interface_1","nickname":"New UX","profile_url":""}'
    headers:
      Api-Token:
      - a153d68c1efb5e2897c6eac1361ed2ba61e1e441
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"user_id":"testing_user_interface_1","access_token":"","is_online":false,"last_seen_at":0,"nickname":"New
        UX","profile_url":""}'
  recorded_at: Mon, 17 Oct 2016 17:16:16 GMT
recorded_with: VCR 3.0.3
