---
http_interactions:
- request:
    method: put
    uri: https://api.sendbird.com/v3/users/testing
    body:
      encoding: UTF-8
      string: '{"issue_access_token":"deiyceiu"}'
    headers:
      Api-Token:
      - a153d68c1efb5e2897c6eac1361ed2ba61e1e441
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"user_id":"testing","access_token":"0bc4cbce82027db4199f5ac3627707feb7991cae","is_online":false,"last_seen_at":0,"nickname":"","profile_url":""}'
  recorded_at: Mon, 17 Oct 2016 17:31:16 GMT
recorded_with: VCR 3.0.3
