---
http_interactions:
- request:
    method: put
    uri: https://api.sendbird.com/v3/users/non_existing
    body:
      encoding: UTF-8
      string: '{"nickname":"Fake ID"}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"message":"User not found.","code":400201,"error":true}'
  recorded_at: Wed, 19 Oct 2016 05:39:34 GMT
recorded_with: VCR 3.0.3
