---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/v3/users/testing_user_interface_1/push/gcm
    body:
      encoding: UTF-8
      string: '{"gcm_reg_token":"dfeufue8hib7g"}'
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"token":"dfeufue8hib7g","type":"GCM","user":{"nickname":"Mckuly","user_id":"testing_user_interface_1","profile_url":""}}'
  recorded_at: Wed, 19 Oct 2016 08:00:22 GMT
- request:
    method: delete
    uri: https://api.sendbird.com/v3/users/testing_user_interface_1/push
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - <%= api_token %>
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"user":{"nickname":"Mckuly","user_id":"testing_user_interface_1","profile_url":""}}'
  recorded_at: Wed, 19 Oct 2016 08:05:45 GMT
recorded_with: VCR 3.0.3
