---
http_interactions:
- request:
    method: put
    uri: https://api.sendbird.com/v3/users/testing_user_interface_1
    body:
      encoding: UTF-8
      string: '{"nickname":"Mckuly"}'
    headers:
      Api-Token:
      - a153d68c1efb5e2897c6eac1361ed2ba61e1e441
      Content-Type:
      - application/json, charset=utf8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"user_id":"testing_user_interface_1","access_token":"","is_online":false,"last_seen_at":0,"nickname":"Mckuly","profile_url":""}'
  recorded_at: Wed, 19 Oct 2016 05:27:34 GMT
recorded_with: VCR 3.0.3
